In [1]:
data = 'abc'

if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')
    
num_1 = 10
num_2 = 20

print(num_1 + num_2)

data = 'level'

if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome
30
palindrome

In [ ]:
# Functions

if we have a certain line of code that has to be used again and again

2 things

- function defination - we define the function
- function call - we execute the function

In [2]:
def add_number():
    num1 = 10
    num2 = 20
    print(10+20)

In [3]:
add_number()

30

In [4]:
add_number()

30

In [5]:
# Dynamic

def add_num(num1,num2):
    print(num1+num2)

In [7]:
add_num(5,7)

12

In [8]:
add_num(10,9)

19

In [10]:
def palindrome(string):
    
    if string == string[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

In [11]:
palindrome('mom')

palindrome

In [32]:
palindrome('abc')

not a palindrome

In [33]:
palindrome('level')

palindrome

In [ ]:
# types of Args/parameter

1. Positional Args

- the order is important
- number of args should match number of parameter

In [13]:
def emp_data(emp_name,emp_sal,emp_id):
    print(emp_name)
    print(emp_sal)
    print(emp_id)

In [15]:
emp_data('Abhi',80000,123)

Abhi
80000
123

In [19]:
emp_data('Abhi','JKl',30,50)   # args should be equal to parameters

TypeError: emp_data() takes 3 positional arguments but 4 were given

In [ ]:
# default args

In [39]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc,company_loc='Banglore'):
    print(emp_name)
    print(emp_sal)
    print(emp_id)
    print(emp_loc)
    print(company_loc)         # default args = company_location
                               # defaul args should always be on the last

In [40]:
emp_data('afsan',40,678,'goa')

afsan
40
678
goa
Banglore

In [41]:
emp_data('afsan',40,678,'goa','chennai')

afsan
40
678
goa
chennai

In [21]:
# Keyword Argument


def emp_data(emp_name,emp_sal,emp_id,emp_loc,company_loc='Banglore'):
    print(emp_name)
    print(emp_sal)
    print(emp_id)
    print(emp_loc)
    print(company_loc) 

emp_data(company_loc='Delhi',emp_sal=40,emp_id=678,emp_loc='goa',emp_name='afsan')

afsan
40
678
goa
Delhi

In [22]:
# Arguments and Keyword Argument

def employee_data(*args):
    print(args)

In [23]:
employee_data('name','abc','xyz')

('name', 'abc', 'xyz')

In [46]:
# Return Statement

In [47]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='Banglore'):
    print(emp_name)
    print(emp_sal)
    print(emp_id)
    print(emp_loc)
    print(company_loc)
    return None 
    
print('abc')
print('xyz')
print('ooo')

emp_data(emp_sal=40,emp_id=678,emp_loc='goa',emp_name='afsan')

abc
xyz
ooo
afsan
40
678
goa
Banglore

In [48]:
def sum(num1,num2):
    c = num1+num2
    return c

In [49]:
data = sum(10,100)   # c = 10+100

In [50]:
print(data - 10)            # c-10

100

In [51]:
def sum(num1,num2):
    c = num1+num2
    return 'c'

In [52]:
data = sum(10,100)
print(type(data),data)

<class 'str'> c

In [54]:
def sum(num1,num2):
    c = num1+num2
    return 1,2,3,4,5

In [55]:
data = sum(10,100)
print(type(data),data)

<class 'tuple'> (1, 2, 3, 4, 5)

In [56]:
def sum(num1,num2):
    c = num1+num2

In [57]:
data = sum(10,100)
print(type(data),data)

<class 'NoneType'> None