In [1]:
data = {'emp1':{'name':'afsan', 'roll no':654, 'email':'abc@gmail.com'},
        'emp2':{'name':'rahul', 'roll no':123, 'email':'xyz@gmail.com'}}

In [3]:
# Method to see all the keys in dict

data.keys()

dict_keys(['emp1', 'emp2'])

In [4]:
# All the value

data.values()

dict_values([{'name': 'afsan', 'roll no': 654, 'email': 'abc@gmail.com'}, {'name': 'rahul', 'roll no': 123, 'email': 'xyz@gmail.com'}])

In [6]:
# all the items

data.items()     # Returns a Tuple[(key,value),(key,value)]

dict_items([('emp1', {'name': 'afsan', 'roll no': 654, 'email': 'abc@gmail.com'}), ('emp2', {'name': 'rahul', 'roll no': 123, 'email': 'xyz@gmail.com'})])

In [ ]:
# Fromkeys(Creates a new dict with keys from iterable and value set to value parameter)

In [7]:
a = ['Afsan','Debdutta','Fathima']
data = dict.fromkeys(a,0)
print(data)                # Can only give a single value

{'Afsan': 0, 'Debdutta': 0, 'Fathima': 0}

In [10]:
# Clear

data.clear()
print(data)

{}

In [11]:
# Dict Comprehension

a = [1,2,3,4,5,6]

{i:i**2 for i in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

## Range Data type

In [2]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
print(list(range(0,15,3)))

[0, 3, 6, 9, 12]

In [12]:
print(list(range(15,0,2)))

[]

In [6]:
print(list(range(15,0,-2)))

[15, 13, 11, 9, 7, 5, 3, 1]

In [7]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Set data type

In [9]:
a = {1,2,3,4,5}
print(a, type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [15]:
a = {1,1,1,2,2,2,3,3,3,3,4,4,4,4,5,5,5,6,6}
print(a, type(a))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [18]:
a.clear()      # It is Mutable

In [17]:
a

set()

In [20]:
a = {1,2,3,(10,22,33)}   # cannot contain mutable data type(Tuple is immutable data type)
print(a)

{1, 2, 3, (10, 22, 33)}

In [21]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

# Conditional Statement

In [22]:
# if statement

stat1
stat2
stat3
if cond:
    stat4
    stat5
    
if cond is true - 1,2,3,4,5
if cond is false - 1,2,3

NameError: name 'stat1' is not defined

In [ ]:
# if statement

stat1
stat2
stat3
if cond:
    stat4
    stat5
    
stat6
stat7
    
if cond is true - 1,2,3,4,5,6,7
if cond is false - 1,2,3,6,7

In [ ]:
# if and else


stat1
stat2
stat3
if cond:
    stat4
    stat5
else:
    stat6
    stat7
stat8
stat9
    
if cond is true - 1,2,3,4,5,8,9
if cond is false - 1,2,3,6,7,8,9

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4            # Only if cond 1 and 2 are true and cond 3 is false 
    stat5
if cond2:
    stat6
    stat7
if cond3:
    stat8
    stat9    
else:                 # else stat only depends only on the previous is cond
    stat10
    stat11
stat12
stat13
    
if cond 1 and 2 are true - 1,2,3,4,5,6,7,10,11,12,13
if all cond are false - 1,2,3,10,11.12.13
if cond 2 and 3 are true - 1,2,3,6,7,8,9,12,13

In [23]:
# if elif else

In [24]:
stat1
stat2
stat3
if cond1:
    stat4            
    stat5
elif cond2:
    stat8
    stat9
elif cond3:
    stat10
    stat11   
else:                 
    stat12
    stat13
stat14
stat15

if cond 1 and 2 are True - 1,2,3,4,5,14,15
if all cond are True - 1,2,3,4,5,14,15 (Same as above)
if cond 2 is false - (Same as above)
if cond 1 and cond 2 is false - 1,2,3,10,11,14,15
if all are false - 1,2,3,12,13,14,15

NameError: name 'stat1' is not defined

In [12]:
a = 33
b = 200
if b>a:
    print('line 4')
print('line 5')

line 4
line 5

In [29]:
a = 100
b = 'afsan'
c = 'a'
d = 200

if 'a' > 'afsan':
    print('line 7')
    
elif c in b:
    print('line 9')
    
elif a == 100 and b== 291:
    print('line 11')

else:
    print('line 13')
print('end')

line 9
end

In [31]:
x = 35

if x > 10:
    print('hey')
    if x>20:
        print('hola')
    else:
        print('bye')
else:
    if x == 5:
        print('Hi')
    else:
        print('see you')
print('End')

hey
hola
End

In [22]:
x = 5

if x > 10:
    print('hey')
    if x>20:
        print('hola')
    else:
        print('bye')
else:
    if x == 5:
        print('Hi')
    else:
        print('see you')
print('End')

Hi
End

In [32]:
a = eval(input('enter a number'))
if (a==0):
    print('zero')
elif (a==1):
    print('one')
elif (a==2):
    print('two')
elif (a==3):
    print('three')
else:
    print('invalid input')

enter a number80
invalid input

In [26]:
data = 'maam'

if data == data[::-1]:
    print('palindrom')
else:
    print('not palindrom')

palindrom

In [35]:
for i in range(2,51,2):
 
        print(i)   # All the even numbers from 1-50

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50