### Type Casting

In [6]:
a = 10
print(a,float(a))
type(a)

10 10.0

int

In [5]:
a = float(10)
print(a,float(a))
type(a)

10.0 10.0

float

In [3]:
a = '100'
print(int(a))

100

In [4]:
a = 200.567
bool(a)

True

### Input and Output Function

In [7]:
a = 20
b = 40

print(a+b)

60

In [14]:
a = float(input('Enter the Value'))
b = float(input('Enter the Value'))
print(a+b)

Enter the Value20.9018
Enter the Value6937.849
6958.7508

In [4]:
a = eval(input('Enter the Value'))
b = eval(input('Enter the Value'))

print(type(a))
print(type(b))

Enter the Value90.55
Enter the Value'Abhi'
<class 'float'>
<class 'str'>

#### Output Functions

In [8]:
a = 10
b = 20
c = 30
print(a)
print(b)
print(c)

10
20
30

In [9]:
a = 10
b = 20
c = 30

print(a,b,c)

10 20 30

In [2]:
a = 10
b = 20
c = 30
print(a, end='')
print(b, end='')
print(c, end='')

102030

In [11]:
a = 10
b = 20
c = 30
print(a,b,c, sep='\n')

10
20
30

In [13]:
a = 200
b = 80
c = 10
d =a+b

print(a+b,d,sep='==', end='__>')
print(c,d,sep="**")
print(d,c+b, end='\n\n')
print(a,b,c,sep='++', end='--')

280==280__>10**280
280 90

200++80++10--

In [14]:
a = 'abhilash'
b = 'baruah'

print(a,b)

abhilash baruah

In [4]:
_1st_Name =('Abhilash')
_2nd_Name =('Baruah')
print(_1st_Name, _2nd_Name)

Abhilash Baruah

In [9]:
my_first_name=input("Please Enter first name")
my_second_Name=input("Please Enter the second name")
print(my_first_name, my_second_Name)

Please Enter first nameAbhilash
Please Enter the second nameBaruah
Abhilash Baruah

In [18]:
first_name=input("Enter first name")
second_Name=input("Enter the second name")
print("My First Name is", (first_name) ,"And My Last Name is", (second_Name))

Enter first nameAbhilash
Enter the second nameBaruah
My First Name is Abhilash And My Last Name is Baruah

In [19]:
first_name=input("Enter first name")
second_Name=input("Enter the second name")
print(f"My First Name is {first_name} And My Last Name is {second_Name}")

Enter first nameAbhilash
Enter the second nameBaruah
My First Name is Abhilash And My Last Name is Baruah

In [22]:
# Format String

In [20]:
first_name=input("Enter first name")
second_Name=input("Enter the second name")
print(f" {first_name} is My First Name and {second_Name} is My Last Name is ")

Enter first nameAbhilash
Enter the second nameBaruah
 Abhilash  is My First Name and Baruah is My Last Name is

In [21]:
first_name=input("Enter first name")
second_Name=input("Enter the second name")
print("{} is My First Name and {} is My Last Name" .format(first_name,second_Name))

Enter first nameAbhilash
Enter the second nameBaruah
Abhilash is My First Name and Baruah is My Last Name

#### Float Data Types

In [33]:
# Complex Data Types

a = 10+6j
b = 11+7j
print(a+b,a*b,a/b)

(21+13j) (68+136j) (0.8941176470588236-0.023529411764705865j)

In [25]:
a = 10+6j
type(a)

complex

In [28]:
a = 10+6j
print(a.real)
print(a.imag)

10.0
6.0

In [24]:
a = 'Python'
b = "python"
c = '''python'''
print(a)
print(b)
print(c)

Python
python
python

In [39]:
a ='''Python
hello
World'''
print(a)

Python
hello
World

In [26]:
a = "Abhilash's"
print(a)

Abhilash's

In [40]:
a = 'Abhilash\'s'
print(a)

Abhilash's

In [42]:
a ='Learn\nBay'
print(a)

Learn
Bay

In [43]:
a ='Learn\\nBay'
print(a)

Learn\nBay

In [45]:
a ='Learn\b\nBay'
print(a)

Learn
Bay

In [27]:
print('ab'+'\b'+'c')

abc

In [50]:
print('Abhilash\tBaruah')

Abhilash	Baruah

In [51]:
print(r'Abhilash\tBaruah')

Abhilash\tBaruah