In [5]:
a = [1,6,4,3,7,9]
b = []

for i in a:
    if i%2 == 0:
        b.append(i)

print(b)

[6, 4]

In [8]:
a = [1,6,4,3,7,9]
b = [i for i in a if i%2==0]   # List Comprehension
print(b)

[6, 4]

### Tuple

In [10]:
a = (1,2,3,4)
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [11]:
a = 1,2,3,4
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [12]:
# Creating a Tuple

# 1. If we already know the element

tup1 = ('apple','mango','banana')
print(tup1)

('apple', 'mango', 'banana')

In [13]:
# 2. taking user input with eval

data = eval(input('Enter the Tuple'))
print(data, type(data))

Enter the Tuple 1,2,4,5,68,9
(1, 2, 4, 5, 68, 9) <class 'tuple'>

In [16]:
# 3. Type Casting

a = 'Abhilash'

print(tuple(a))

('A', 'b', 'h', 'i', 'l', 'a', 's', 'h')

In [ ]:
# Properties of Tuple

In [17]:
a = (1,1.2,'afsan',[1,2,3],None,True,1,0,0,1,1,1)
print(a, type(a))

(1, 1.2, 'afsan', [1, 2, 3], None, True, 1, 0, 0, 1, 1, 1) <class 'tuple'>

In [18]:
# Indexing

a[0]

1

In [19]:
a[-7]

True

In [20]:
# Slicing

a[::-1]

(1, 1, 1, 0, 0, 1, True, None, [1, 2, 3], 'afsan', 1.2, 1)

In [21]:
a[0:6:-2]

()

In [22]:
# Concatination

a = (1,2,3,4)
b = (10,20,30)

print(a+b)

(1, 2, 3, 4, 10, 20, 30)

In [23]:
# Repetition

a = (10,20,30)
b = 10

print(a*b)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [27]:
# Identity Operator

a = (1,2,3,4)
print(id(a))

b = (1,2,3,4)
print(id(b))

print(a is b)

1988785599648
1988785081056
False

In [25]:
# Membership Op

a = (1,1.2,'afsan',[1,2,3],None,True,1,0,0,1,1,1)

print('afsan' in a)

True

In [26]:
# Immutable

a = (10,20,30)
a[0] = 50
print(a)

TypeError: 'tuple' object does not support item assignment

In [28]:
# Methods in Tuple

print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [31]:
# Count

a = (1,2,3,4,1,1,2,3,4,2,)
print(a.count(3))

2

In [35]:
# Index

a = (1,2,3,4,1,1,2,3,4,2,)
print(a.index(4))

3

In [38]:
a = "learnbay data Science tensorlfow"  # Find the no. of 't' using find and index method

print(a.count('t'))
print(a.count('a'))

2
4

In [47]:
a = (1,2,3,4,5,4,4,4,4)  # Find all the occurance(index) of all the 4

index = 0
for i in a:
    if i == 4:
        print(index)
    index += 1

3
5
6
7
8

In [49]:
# How to find the 2nd occurance of 4

a = (1,2,3,4,5,4,4,4,4) 

index = 0
data = []
for i in a:
    if i == 4:
        data.append(index)
    index += 1 

print(data[1])

5

In [ ]:
# Tuple Packing and Unpacking

In [51]:
# Tuple Packing

a = 1,2,3,4,5
print(a, type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [53]:
a = 1,              # comma is req.
print(a, type(a))

(1,) <class 'tuple'>

In [56]:
# Tuple Unpacking

a,b,c,d,e = ('abhi',2,3,4,5)     # The value variable on LHS == RHS
print(c,type(c)) 
print(a,type(a))            # individual stored types will vary according to the input value

3 <class 'int'>
abhi <class 'str'>

## Dictionary

In [58]:
a = ['abhi',28,60000]
print(a[0])  #name
print(a[1])  #Age
print(a[2])  #salary

abhi
28
60000

In [61]:
# dictionary

a = {'name':'abhi','age':25,'salary':25}

print(f'name is {a["name"]}')
print(f'age is {a["age"]}')
print(f'salary is {a["salary"]}')

name is abhi
age is 25
salary is 25

In [62]:
a = {'salary':25,'age':25,'name':'abhi'}

print(f'name is {a["name"]}')
print(f'age is {a["age"]}')
print(f'salary is {a["salary"]}')

name is abhi
age is 25
salary is 25

In [63]:
# Properties of dictionary


data = {'Name':'Abhi','Age': 28}
print(data)

{'Name': 'Abhi', 'Age': 28}

In [65]:
data = {'Name':'Abhi','Age': 28 ,'Name':'Rahul'}

print(data)      # Key can't be dublicated whereas value can be

{'Name': 'Rahul', 'Age': 28}

In [67]:
# Value can be dublicated

data = {'Name':'Abhi','Age': 28 ,'Salary':28}

print(data)

{'Name': 'Abhi', 'Age': 28, 'Salary': 28}

In [69]:
# Key should not be mutable

data = {'Name':'Abhi',(1,2,3):24 ,1:24}

print(data)

{'Name': 'Abhi', (1, 2, 3): 24, 1: 24}

In [73]:
# value can be any data type

data = {'Name':'Abhi',(1,2,3):24 ,1:(1,2,3)}

print(data)

{'Name': 'Abhi', (1, 2, 3): 24, 1: (1, 2, 3)}

In [75]:
# Idendity is applicable

data = {'Name':'Abhi',(1,2,3):24 ,1:(1,2,3)}
data2 = {'Name':'Abhi',(1,2,3):24 ,1:(1,2,3)}

print(data is data2)
print(id(data))
print(id(data2))

False
1988786064960
1988786063872

In [77]:
# Membership OP is allicable but only on key

data = {'Name':'Abhi',(1,2,3):24 ,1:(1,2,3)}

print('Abhi' in data)

print((1,2,3) in data)

False
True

In [79]:
# Mutable

data = {'Name':'Abhi',(1,2,3):24 ,1:(1,2,3)}

data['Name'] = 'XYZ'

print(data)

{'Name': 'XYZ', (1, 2, 3): 24, 1: (1, 2, 3)}