## List

In [8]:
a = [10,20,30,40]
print(a)
print(a[0])
print(a[-1])     # Seq. Data Type

[10, 20, 30, 40]
10
40

In [10]:
# Allows Dublicate element

a = [11,1,1,1,1,11,22,33,44,55,44,55,44]
print(a)

[11, 1, 1, 1, 1, 11, 22, 33, 44, 55, 44, 55, 44]

In [12]:
# Mutable

a = [1,2,3,4,5]
print(id(a))
print(a)
a[0] = 100
print(id(a))
print(a)

1375434004992
[1, 2, 3, 4, 5]
1375434004992
[100, 2, 3, 4, 5]

In [13]:
# You can store any data type in a list

a = [1,True,6+7j,None,1.2,'Abhi',(1,2,3),{1,2,3,4},{1:3}]
print(a)

[1, True, (6+7j), None, 1.2, 'Abhi', (1, 2, 3), {1, 2, 3, 4}, {1: 3}]

In [15]:
# Indexing

a = [1,2,3,4,5,6]

print(a[0])
print(a[-1])
print(a[len(a)-1])

1
6
6

In [19]:
# Slicing

a = [1,2,3,4,5,6,7,8,9]

print(a[0:5:-1])  # Empty List
print(a[::-1])

[]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
# Concatination

a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [21]:
# Repetition

a = [1,2,3]           # One should be list and other should be integers
b = 10

print(a*b)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# Membership

a = ['afsaan', 'lakshmi','sahana','varun','venkatesh']
print('lakshmi' in a)

True

In [30]:
print('lakshmi'.replace('lakshmi','afsaan')in a)

True
True

In [34]:
# Identity

a = [1,2,3,4,5]
print(id(a))
b = [1,2,3,4,5]
print(id(b))

print(a is b)

1375466945472
1375462143808
False

In [36]:
# Nested List---> list inside a list

a = [1,2,3,4,5,[1,2,3,4,5]]
print(a)

[1, 2, 3, 4, 5, [1, 2, 3, 4, 5]]

In [20]:
a = [1,2,3,4,5,[1,2,3,4,5]]

print(a[-1])

[1, 2, 3, 4, 5]

In [21]:
print(a[-1][2])

3

In [26]:
a = [1,2,3,4,5,['afsaan',2,3,4,5]]

print(a[-1][0][::-1])

naasfa

In [27]:
print(a[::-1])

[['afsaan', 2, 3, 4, 5], 5, 4, 3, 2, 1]

In [28]:
a = [1,2,3],[4,5,6],[8,9,10,11,[12,['a','b',200]]]

print(a)

([1, 2, 3], [4, 5, 6], [8, 9, 10, 11, [12, ['a', 'b', 200]]])

In [29]:
print(a[-1][-1][-1][0])

a

In [44]:
a = [1,2,3],[4,5,6],[8,9,[10,'learnbay institute','football']]

print(a[-1][-1][1].split()[0][::-1])
print(a[-1][-1][1].split()[-1][::-1])
print(a[-1][-1][2][::-1])

yabnrael
etutitsni
llabtoof

### Methods

In [45]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
# Append

a = [10,20,30]
b = 40
(a.append(b))         # Append an element to the end of the file
print(a)              # Only one emelent at a time
                      # Can insert both iterables and non iterables objects

[10, 20, 30, 40]

In [52]:
a = [10,20,30]
b = 'Abhilash'
(a.append(b))        
print(a)

[10, 20, 30, 'Abhilash']

In [53]:
a = [10,20,30]
b = [40,50,60]
(a.append(b))         
print(a)

[10, 20, 30, [40, 50, 60]]

In [48]:
a = 'abhilash'
print(a.replace('a','s'))

sbhilssh

In [55]:
# Extend(similar to concatination)

a = [1,2,3]
b = [5,6,7]
print(a+b) 
print(a,b)       # Concatination

[1, 2, 3, 5, 6, 7]
[1, 2, 3] [5, 6, 7]

In [57]:
a = [1,2,3]
b = [5,6,7]

(a.extend(b))
print(a)
print(a,b)        # Extend

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 5, 6, 7] [5, 6, 7]

In [63]:
a = [1,2,3]
b = [5,6,7]

a.extend(100)
print(a)       # 100(int) is not a iterable object

TypeError: 'int' object is not iterable

In [60]:
a = [1,2,3]
b = [5,6,7]

a.extend('abhi')
print(a)

[1, 2, 3, 'a', 'b', 'h', 'i']

In [64]:
a = [1,2,3]
b = 'abhilash'
print(a.extend(b))
print(a)

None
[1, 2, 3, 'a', 'b', 'h', 'i', 'l', 'a', 's', 'h']

In [69]:
# Insert ----> insert a value at a particular index, only one at a time

a = [10,20,30]
a.insert(1,100)
print(a)

[10, 100, 20, 30]

In [70]:
a = [10,20,30]
a.insert(2,'Abhi')
print(a)

[10, 20, 'Abhi', 30]

### Method to remove the element from the list

In [72]:
# Pop

a = [10,20,30,50]
print(a.pop(-1))
print(a)

50
[10, 20, 30]

In [73]:
a.pop(0)
print(a)

[20, 30]

In [77]:
a = [10,20,30,50]
print(a.pop())     # By default it will take the last element
print(a)

50
[10, 20, 30]

In [78]:
# Remove (remove the element based on the value, for multiple occurence it will remove only the first value)

a = [10,20,30,40,10,203,10,10]
a.remove(10)
print(a)

[20, 30, 40, 10, 203, 10, 10]

In [80]:
a = [10,20,30,40,10,203,10,10]
a.remove(10)
a.remove(10)
a.remove(10)
a.remove(10)
print(a)

[20, 30, 40, 203]

In [84]:
# count

a = [10,20,30,40,10,203,10,10]
a.count(10)

4

In [88]:
# Index

a = [10,20,30,40,10,203,10,10]
a.index(10)

0