In [ ]:
# properties of the list

1. seq data type
2. +ve and -ve indexing is supported
3. allows duplicate element
4. mutable
5. operation - indexing, slicing, concatination, repition , membership and identity
6. you can store any data type in a list

In [1]:
a = [10,20,30,40]
print(a)

[10, 20, 30, 40]

In [3]:
a[-1]

40

In [4]:
# 3. allows duplicate element

a = [11,1,1,1,1,11,22,33,44,44,44,44]
print(a)

[11, 1, 1, 1, 1, 11, 22, 33, 44, 44, 44, 44]

In [6]:
# 4. mutable

a = [1,2,3,4]
print(id(a))
a[0] = 100
print(id(a))
print(a)

140271782239424
140271782239424
[100, 2, 3, 4]

In [8]:
# 6. you can stroe any data type in a list

a = [1,True,6+7j,None,1.2,'afsan',(1,2,3),{1,2},{1:3}]
print(a)

[1, True, (6+7j), None, 1.2, 'afsan', (1, 2, 3), {1, 2}, {1: 3}]

In [11]:
# indexing

a = [1,2,3,4,5,6]
print(a[0])
print(a[-1])
print(a[len(a)-1])

1
6
6

In [12]:
# slicing

a = [1,2,3,4,5,6,7,8,9]
a[0:5:-1]

[]

In [13]:
a = [1,2,3,4,5,6,7,8,9]
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# concatination
"""
op = +
operand = both should be list

"""

a = [1,2,3]
b = [5,6,7]

print(a+b)

[1, 2, 3, 5, 6, 7]

In [15]:
# repetition
"""
op - *
operand - one should be int and other should be list
"""

a = [1,2,3,4]
b = 10

print(a*b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
# membership
"""
def -> it checks if sub seq is present or not in the seq
return -> Bool
op --> in and not in
"""

a = ['afsan','lakshmi','sahana','varun','venaktesh']
print('lakshmi' in a)

True

In [17]:
a = ['afsan','lakshmi','sahana','varun','venaktesh']
print('lakshmi'.replace('lakshmi','afsan') in a)

True

In [18]:
'lakshmi'.replace('lakshmi','afsan')

'afsan'

In [20]:
# identity
"""
def -> it is used to compare the memory address of two varibales
op - is and is not
return - bool
"""

a = [1,2,3,4,5]
print(id(a))
b = [1,2,3,4,5]
print(id(b))

print(a is b)

140271782239872
140271782137792
False

In [23]:
a = [1,2,3,4,5,1,1]

print(id(a[0]))
print(id(a[-1]))

140272021465392
140272021465392

In [24]:
# nested list -> list inside a list

a = [1,2,3,4,5,[1,2,3,4,5]]
print(a)

[1, 2, 3, 4, 5, [1, 2, 3, 4, 5]]

In [27]:
print(a[-1][2])

3

In [29]:
a = [1,2,3,4,5,[1,2,3,4,5]]
print(a[5])

[1, 2, 3, 4, 5]

In [37]:
a = [1,2,3,4,5,['afsan',2,3,4,5]]

"""
nasfa
"""

print(a[-1][0][::-1])

nasfa

In [34]:
['afsan', 2, 3, 4, 5][0]

'afsan'

In [36]:
'afsan'

'nasfa'

In [42]:
a = [[1,2,3] , [4,5,6], [8,9,10,11,[12,['a','b',200]]]]
"""
output - a
"""

print(a[-1][-1][-1][0])

a

In [50]:
a = [[1,2,3] , [4,5,6], [8,9,[10,'learnbay insititue' , 'football'],11,[12,['a','b',200]]]]
"""
output - a
"""

print(a[-1][2][1].split()[-1][::-1])

eutitisni

In [49]:
a[-1][2][1].split()[-1][::-1]

'eutitisni'

In [53]:
a[-1][2][1].split()[-1]

'insititue'

In [54]:
# methods
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# methods to insert the element inside a list

1. append
2. extend
3. insert

In [59]:
# append

"""
appends an element to the end of the file
you can enter only one element at a time
you can insert both iterable and non iterable objects
"""

a = [10,20,30]
b = [1,2,3]

a.append(b)
print(a)

[10, 20, 30, [1, 2, 3]]

In [57]:
a = 'afsan'
print(a.replace('a','s'))

sfssn

In [1]:
a = [10,20,30]
b = [1,2,3]

In [2]:
a.append(b)
print(a)

[10, 20, 30, [1, 2, 3]]

In [ ]:
# extend

"""
extend is simliar to concatination but concatination returns a new object wheras extend will make the changes on object itself
you can only use iterable objects
"""

In [67]:
a = [1,2,3]
b = [5,6,7]
a+b
print(a , b)

[1, 2, 3] [5, 6, 7]

In [66]:
a = [1,2,3]
b = [5,6,7]
b.extend(a)
a

[1, 2, 3, 5, 6, 7]

In [68]:
b

[5, 6, 7]

In [71]:
a.extend('afsan')

In [72]:
a

[1, 2, 3, 'a', 'f', 's', 'a', 'n']

In [74]:
a = [1,2,3,4]
b = 'abc'

a.extend(b)
a

[1, 2, 3, 4, 'a', 'b', 'c']

In [75]:
# insert
"""
insert method insert the value at a particular index
only one element can be inserted in a list at a time
synatx var.insert(index , ele)

"""

a = [10,20,30]
a.insert(1,100)

In [76]:
a

[10, 100, 20, 30]

In [77]:
a = [10,20,30]
a.insert(1,'afsan')

In [84]:
a = [10,20,30]
a.insert(100,[1,2,3])

In [85]:
a

[10, 20, 30, [1, 2, 3]]

In [81]:
# methods to remove the ele from the list

1. pop
2. popitem

SyntaxError: invalid syntax (106595066.py, line 3)

In [86]:
# pop

"""removes the element by index
pop by deafult removes the last element
it is the only method that returns the value
synatx = var.pop(index)"""

a = [10,20,30,50]
print(a.pop(-1))

50

In [88]:
a.pop()

10

In [89]:
a

[20, 30]

In [ ]:
# pop

"""removes the element by index
pop by deafult removes the last element
it is the only method that returns the value
synatx = var.pop(index)"""

a = [10,20,30,50]
a.pop()
a

In [92]:
# remove

"""
remove the element based on the value
if multiple occurance of an value then only first occ will be removed
"""

a = [10,20,30,40,10,203,10,10]
a.remove(10)
a.remove(10)
a.remove(10)
a.remove(10)

In [93]:
a

[20, 30, 40, 203]

In [95]:
# count

a = [10,20,30,40,10,203,10,10]
a.count(10)

4

In [97]:
# index

a = [10,20,30,40,10,203,10,10]
a.index(10)

0