In [1]:

a = [1,6,4,3,7,9]
b = []

for i in a:
    if i%2==0:
        b.append(i)

print(b)

[6, 4]

In [ ]:
[statment for var in iterable if cond]

In [2]:
a = [1,6,4,3,7,9]
b = [i for i in a if i%2==0]
print(b)

[6, 4]

In [ ]:
# tuple

anymthing that can be wriiten inside a ()(optional) and elements are sep by ,

In [3]:
a = (1,2,3,4)
print(a , type(a))

(1, 2, 3, 4) <class 'tuple'>

In [4]:
a = 1,2,3,4
print(a , type(a))

(1, 2, 3, 4) <class 'tuple'>

In [5]:
# creating a tuple

# 1. we already know the ele

tup1 = ('apple', 'mango', 'banana')
print(tup1)

('apple', 'mango', 'banana')

In [6]:
# taking user input with eval

data = eval(input('enter the tuple'))
print(data, type(data))

enter the tuple1,2,6,8,9
(1, 2, 6, 8, 9) <class 'tuple'>

In [8]:
# 3. typcastiong , tuple

a = 'afsaan'
tuple(a)

('a', 'f', 's', 'a', 'a', 'n')

In [ ]:
# properties of tuple

1. seq data type
2. +ve and -ve indexing
3. allows duplicate element
4. can contain any object
5. basic -> indexing, slicing, concatination, repetition, indentity and membership
6. immutable

In [9]:
a = (1,1.2,'afsan',[1,2,3],None,True,1,0,0,1,1,1)

print(a)

(1, 1.2, 'afsan', [1, 2, 3], None, True, 1, 0, 0, 1, 1, 1)

In [10]:
a[0]

1

In [11]:
a[-7]

True

In [12]:
# slicing

a[::-1]

(1, 1, 1, 0, 0, 1, True, None, [1, 2, 3], 'afsan', 1.2, 1)

In [13]:
a[0:6:-2]

()

In [14]:
# concatination

a = (1,2,3,4)
b = (10,20,30)

print(a+b)

(1, 2, 3, 4, 10, 20, 30)

In [15]:
# repetition

a = (10,20,30)
b = 20

print(a*20)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [19]:
# indentity op

a = (1,2,3,4)
print(id(a))
b = (1,2,3,4)
print(id(b))
print(a is b)

140320512774208
140320512774368
False

In [17]:
# membrship op

a = (1,1.2,'afsan',[1,2,3],None,True,1,0,0,1,1,1)
print('afsaan' in a)

False

In [18]:
# immutable - original object cannot be changed

a = (10,20,30)
a[0] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

In [21]:
#methods in tuple
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [22]:
# count

a = (1,2,3,4,1,1,2,3,4,2,1)
print(a.count(3))

2

In [24]:
# index
a = (True,2,3,4,1,1,2,3,4,2,1)
print(a.index(True))

0

In [25]:
a=(1,1.3,"index",2,True,3,4,4)
print(a.index(True))

0

In [26]:
a = (1,2,3,4)
print(a.index(4))

3

In [ ]:
Find the number of 't' in a string using 'find' and 'index 'method.

a = "learnbay data Science tensorlfow"

In [28]:
a='leanbay data science tensorflow'
b=0
e=0
for i in range(len(a)):
    a=a[b:len(a)]
    d=a.find('a')
    b=d+1
    if d!=-1:
        e+=1
    else:
        break
print("Total number occurrance of 'T': ",e)

Total number occurrance of 'T':  4

In [42]:
a='leanbay data science tensorflow'
my_str1=a
char = 'a'
count=0
while my_str1.find(char)!=-1:
    count+=1
    my_str1=my_str1[my_str1.find(char)+1:]

print(count)

4

In [35]:
a = (1,2,3,4,5,4,4,4,4)

# How all occurance of 4?

index = 0
for i in a:
    if i == 4:
        print(index)
    index += 1

3
5
6
7
8

In [36]:
# How 2nd of 4?

index = 0
data = []
for i in a:
    if i == 4:
        data.append(index)
    index += 1

In [39]:
data[2]

6

In [ ]:
# tuple packing and unpacking

In [44]:
# tuple packing 
# packing or assigning the value to a single varibale

a = 1,2,3,4,5
print(a)

(1, 2, 3, 4, 5)

In [45]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
a = 1
print(a)

In [46]:
a = (1)
print(a)

1

In [47]:
a = 1,
print(a)

(1,)

In [ ]:
# tuple unpacking
fetching individual value from tuple

In [50]:
a,b,c,d,e= (1,2,3,4,5)
print(c)

3

In [ ]:
number of variable on LHS == number of values on RHS

In [51]:
a,b,c,d,e,f= (1,2,3,4,5)
print(c)

ValueError: not enough values to unpack (expected 6, got 5)

In [ ]:
# dictionary

In [52]:
a = ['afsan' , 25 , 60000]

print(f'name is {a[0]}')
print(f'age is {a[1]}')
print(f'sal is {a[2]}')

name is afsan
age is 25
sal is 60000

In [53]:
# problem 1

a = [60000 , 25 , 'afsan']

print(f'name is {a[0]}')
print(f'age is {a[1]}')
print(f'sal is {a[2]}')

name is 60000
age is 25
sal is afsan

In [ ]:
# problem 2

a = ['afsan' , 25 , 25]

print(f'name is {a[0]}')
print(f'age is {a[1]}')
print(f'sal is {a[2]}')

In [55]:
# dictinoary

a = {'name':'afsan', 'age':25, 'sal':25}

print(f'name is {a["name"]}')
print(f'age is {a["age"]}')
print(f'sal is {a["sal"]}')

name is afsan
age is 25
sal is 25

In [56]:
# sol1 

a = {'age':25, 'sal':25, 'name':'afsan'}

print(f'name is {a["name"]}')
print(f'age is {a["age"]}')
print(f'sal is {a["sal"]}')

name is afsan
age is 25
sal is 25

In [57]:
# sol 2

a = {'age':25, 'sal':25, 'name':'afsan'}

print(f'name is {a["name"]}')
print(f'age is {a["age"]}')
print(f'sal is {a["sal"]}')

name is afsan
age is 25
sal is 25

In [ ]:
# Propeties of dict

1. its a collection of key value pair
2. a key, value pair is called as item
3. items are sep by comma(,)
4. key and value are sep by :
5. key cannot be duplicated whereas value can be duplicated
6. key should not be mutable
7. value can be any data type
8. all the items are enclosed in the {} brackets
9. dict is not a seq data type so indexing, slicing, concatination , repetion
10. identity is applicable
11. membership op is applicable but only on key
12. mutable

In [58]:
# 1. its a collection of key value pair
# 2. a key, value pair is called as item
# 3. items are sep by comma(,)
# 4. key and value are sep by :
# 8. all the items are enclosed in the {} brackets

data = {'name':'afsan', 'age':24}

print(data)

{'name': 'afsan', 'age': 24}

In [59]:
# 5. key cannot be duplicated whereas value can be duplicated

# a) key is duplicated

data = {'name':'afsan', 'age':24 , 'name':'Rahul'}

print(data)

{'name': 'Rahul', 'age': 24}

In [ ]:
name ---> Rahul
age ---> 24

In [60]:
# b) value is duplicated

data = {'name':'afsan', 'age':24 , 'sal':24}

print(data)

{'name': 'afsan', 'age': 24, 'sal': 24}

In [61]:
# 6. key should not be mutable

data = {'name':'afsan', (1,2,3):24 , 1:24}

print(data)

{'name': 'afsan', (1, 2, 3): 24, 1: 24}

In [62]:
data = {'name':'afsan', (1,2,3):24 , [1,2,3]:24}

print(data)

TypeError: unhashable type: 'list'

In [63]:
# 7. value can be any data type

data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}

print(data)

{'name': 'afsan', (1, 2, 3): 24, 1: [1, 2, 3]}

In [64]:
data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}

data[0]

KeyError: 0

In [65]:
data[::-1]

TypeError: unhashable type: 'slice'

In [66]:
data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
data2 = {2:2}

data + data2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [67]:
data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
data2 = 4

data + data2

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

In [69]:
data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
data2 = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}

print(id(data))
print(id(data2))

print(data is data2)

140320513905408
140320513240384
False

In [74]:
# 11. membership op is applicable but only on key
data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
print('afsan' in data)

data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
print('1' in data)

data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
(1,2,3) in data

False
False

True

In [ ]:
# mutable

data = {'name':'afsan', (1,2,3):24 , 1:[1,2,3]}
data['name'] = 'xyz'