In [1]:
# reverse - reverses the list

a = [1,7,3,5,6,8,9]
a.reverse()
print(a)

[9, 8, 6, 5, 3, 7, 1]

In [2]:
# sort

"""- element should be homegenous data"""

a = [1,7,3,5,6,8,9]
a.sort()

In [5]:
a = [1,7,3,5,6,8,9]
a.sort(reverse = True)
a

[9, 8, 7, 6, 5, 3, 1]

In [6]:
# clear - it clears the elemts in the list

a = [1,7,3,5,6,8,9]
a.clear()

In [8]:
del a

In [9]:
a

NameError: name 'a' is not defined

In [ ]:
# shallow and deep copy

In [11]:
a = [1,2,3,4,5]
b = a #aliasing

print(a , id(a))
print(b, id(b))

b[0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5] 140500870648000
[1, 2, 3, 4, 5] 140500870648000
[100, 2, 3, 4, 5] 140500870648000
[100, 2, 3, 4, 5] 140500870648000

In [12]:
# shallow copy

a = [1,2,3,4,5]
b = a.copy()

print(a , id(a))
print(b, id(b))

b[0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, 3, 4, 5] 140500870649984
[1, 2, 3, 4, 5] 140500329481984
[1, 2, 3, 4, 5] 140500870649984
[100, 2, 3, 4, 5] 140500329481984

In [ ]:
# question - will shallow will work in all the scenarios

- shallow does not work if it has the nested list

In [18]:
a = [1,2,[3,4,5]]
b = a.copy()

print(a , id(a[0]))
print(b, id(b[0]))

b[-1][0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, [3, 4, 5]] 140500862691632
[1, 2, [3, 4, 5]] 140500862691632
[1, 2, [100, 4, 5]] 140500870649856
[1, 2, [100, 4, 5]] 140500870626752

In [19]:
a=[10,20,[30,10]]
b=a.copy()
b[2]=30
print(a)
print(b)

[10, 20, [30, 10]]
[10, 20, 30]

In [ ]:
# then what to do if you have nested list

# Deep copy

In [22]:
from copy import deepcopy
a = [1,2,[3,[4,5]]]
b = deepcopy(a)

print(a , id(a[-1]))
print(b, id(b[-1]))

b[-1][-1][0] = 100

print(a , id(a))
print(b, id(b))

[1, 2, [3, [4, 5]]] 140500334751040
[1, 2, [3, [4, 5]]] 140500329598272
[1, 2, [3, [4, 5]]] 140500334749248
[1, 2, [3, [100, 5]]] 140500333214144

In [23]:
import copy

In [24]:
dir(copy)

['Error',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_copy_dispatch',
 '_copy_immutable',
 '_deepcopy_atomic',
 '_deepcopy_dict',
 '_deepcopy_dispatch',
 '_deepcopy_list',
 '_deepcopy_method',
 '_deepcopy_tuple',
 '_keep_alive',
 '_reconstruct',
 'copy',
 'deepcopy',
 'dispatch_table',
 'error']

In [ ]:
# list comphrehension

In [ ]:
# for loop

a = input('enter brand 1')
b = input('enter brand 2')
c = input('enter brand 3')
d = input('enter brand 4')
e = input('enter brand 5')

In [ ]:
# syntax

for var in iterable:
    statment

In [26]:
for i in [1,2,3,4,5]:
    a = input('enter brand name')
    print(a)

enter brand namedell
dell
enter brand nameasus
asus
enter brand namemi
mi
enter brand namelenevo
lenevo
enter brand namepredator
predator

In [ ]:
for iter 1 i = 1
afsaan

for iter 2 i = 2
afsaan

for iter 3 i = 3
afsaan

for iter 4 i = 4
afsaan

for iter 5 i = 5
afsaan

for iter 5 i = 5
afsaan

In [27]:
a = [1,2,3,['afsaan'] , 100]

for i in a[-1]:
    print('learnbay')

TypeError: 'int' object is not iterable

In [6]:
a = [1,2,3,['afsaan'] , 100]

for i in a[-2][0]:
    print('learnbay')

learnbay
learnbay
learnbay
learnbay
learnbay
learnbay

In [35]:
a = [1,2,3,['afsaan'] , 100]

for i in 'afsaan':
    print(i)

a
f
s
a
a
n

In [36]:
a = [10,3,6,4,7,8]
for i in a:
    print(i**2)
# print sqaure of all the elements

100
9
36
16
49
64

In [39]:
a = [1,2,3,['afsaan'] , 100]
a[-2][0][0]

'a'

In [38]:
a = [10,3,6,4,7,8]
# print sqaure of all the elements and add to a new list

"""
syntax = lst = [10,3,6,4,7,8]
list_2 = [100,9,36,16,49,64]
"""

'a'

In [40]:
a = [10,3,6,4,7,8]
b = []
for i in a:
    b.append(i**2)

In [41]:
b

[100, 9, 36, 16, 49, 64]

In [43]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
b = []
for i in a:
    b.append(i.split('@')[0])

In [44]:
b

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [ ]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
b = []
for i in a:
    b.append(i.split('@')[0])

In [45]:
#. list comphrension

1. when - 
 - when creating a list
 - when you only 1 stamenrt

synatx = [statment for i in iterable]

['afsaan', 'gmail.com']

In [46]:
a = ['afsaan@gmail.com' , 'akash@email.com' , 'gulab@gmail.com' , 'krishna@yahoo.in' , 'pranali@xyz.in']
b = [i.split('@')[0] for i in a]
print(b)

['afsaan', 'akash', 'gulab', 'krishna', 'pranali']

In [ ]:
a = [10,3,6,4,7,8]
b = []
for i in a:
    b.append(i**2)

In [47]:
a = [10,3,6,4,7,8]
b = [i**2 for i in a]
print(b)

[100, 9, 36, 16, 49, 64]

In [ ]:
[100, 9]

In [ ]:
a=[1,2,3]
for i in a:
    a.append(i**2)
    
print(a)

In [ ]:
a = [1,6,4,3,7,9]
b = [even numbers]

# for