In [ ]:
- for loop
- while loop

In [ ]:
- for loop

- for fixed iteraion we use for loop

syntax - for var in iterable:
            statment1
            statment2

In [1]:
a = ['messi','ronaldo','virat']

for i in a[0]:
    print(i)

m
e
s
s
i

In [ ]:
# while loop

- if we do not know the number of iterations
- if we want to start/stop the loop based on the some condition


1. intilization
2. condition checking
3. inc/dec

In [2]:
i=0 # intilization
while i<10: # condition checking
    print('afsan')
    i+=1 #inc

afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan

In [ ]:
'python'

p
yy
ttt
hhhh
ooooo
nnnnnn

# for

# while

In [3]:
data = 'python'
print(p*1)
print(y*2)
print(t*3)
print(data[3]*4)
print(data[4]*5)
print(data[5]*6)

p
yy
ttt
hhhh
ooooo
nnnnnn

In [4]:
for i in range(0,6):
    print(data[i]*(i+1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [5]:
i=0
while i<6:
    print(data[i]*(i+1))
    i+=1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
for i in range(0,6):
    print(data[i]*(i+1))

In [ ]:
# Break

this keyword is used to break out of the loop

In [6]:
for i in range(9):
    if i>3:
        break
    print(i)

0
1
2
3

In [8]:
i=0
while i<9:
    if i==3:
        break
    i+=1
    print(i)

1
2
3

In [ ]:
# Continue

this keyword is used to end the current iteration in a loop, and continues the next iteration

In [ ]:
for i in range(9):
    if i>3:
        break
    print(i)
print('bye')

In [9]:
for i in range(9):
    if i>3:
        continue
    print(i)

0
1
2
3

In [10]:
for i in range(9):
    if i%2==0:
        continue
    print(i)

1
3
5
7

In [ ]:
for iteration1 i = 0
    True
    continue
for iteraion 2 i=1
    False
    1
for iter 3 i=2
    True

In [11]:
# nestes loop

for i in range(3):
    for j in range(2):
        print(j)

0
1
0
1
0
1

In [ ]:
i = 0
    j=0
    0
    j=1
    1
i = 1
    j=0
    0
    j=1
    1
i = 2
    j=0
    0
    j=1
    1

In [13]:
for i in range(3):
    for j in range(3):
        if i==0:
            break
    print(i,j)

0 0
1 2
2 2

In [ ]:
for iter 1 i=0
    for iter 1 j=0
        True
    0,0
    
for iter 2 i=1
    for iter 1 j=0
        False
    for iter 2 j=1
        False
    for iter 2 j=2
        False
    1,2

In [ ]:
for j in range(3):
        if i==0:
            break
print(i,j)

In [ ]:
names = ['divya','debdutaa','afsan', 'badaraiah','nithin','sagar','abhishek','Roy','Anshu','beeram']

print all the names that does not start with a

In [16]:
names = ['divya','debdutaa','afsan', 'badaraiah','nithin','sagar','abhishek','Roy','Anshu','beeram']
for i in names:
    if i[0].lower() == 'a':
        continue
    print(i)

divya
debdutaa
badaraiah
nithin
sagar
Roy
beeram

In [17]:
names = ['divya','debdutaa','afsan', 'badaraiah','nithin','sagar','abhishek','Roy','Anshu']
for i in names:
    if i[0].lower() == 'a'
        continue
    print(i)

SyntaxError: invalid syntax (2387215058.py, line 2)

In [19]:
names = ['divya','debdutaa','afsan', 'badaraiah','nithin','sagar','abhishek','Roy','Anshu','beeram']

for i in names:
    if i[0]=='a':
      continue
    print(i)

divya
debdutaa
badaraiah
nithin
sagar
Roy
Anshu
beeram

In [ ]:
a = 'python'

nnnnnn
ooooo
hhhh
ttt
yy
p

In [21]:
a = 'python'
print(a[5]*6)
print(a[4]*5)
print(a[3]*4)
print(a[2]*3)
print(a[1]*2)
print(a[0]*1)

nnnnnn
ooooo
hhhh
ttt
yy
p

In [22]:
for i in range(6,0,-1):
    print(a[i-1]*i)

nnnnnn
ooooo
hhhh
ttt
yy
p

In [24]:
i=6
while i>0:
    print(a[i-1]*i)
    i-=1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [25]:
for i in range(9):
    if i == 3:
        break
    print(i)
else:
    print('reached here')

0
1
2

In [26]:
for i in range(9):
    if i < 3:
        continue
    print(i)
else:
    print('reached here')

3
4
5
6
7
8
reached here

In [ ]:
[1,2,3,4]

In [ ]:
# hackerrank
# github
# leetcode
# hackerearth

In [ ]:
for i in range(9):
    if i == 3:
        break
    print(i)
else:
    print('reached here')

In [ ]:
[0,1,2,3,4,5,6,7,8]

for iter 1 i = 0
    false
    0
for iter 2 i =1
    false
    1
for iter 3 i =2
    false
    2
for iter 4 i =3
    True
    Break
    Terminat