In [2]:
data = 'abc'

if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')
    
num_1 = 10
num_2 = 20

print(num_1 + num_2)

data = 'level'
if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome
30
palindrome

In [ ]:
# why functions

if we have a certain line of code that has to be used again and again

In [ ]:
# Functions

- it folloes a principal and it is called as DRY(Do not repeat yourself)

2 things

 - function defination - we define the function or we define the task in the function
 - function call - we execute the fucntion

syntax
    - function defination
    
    def function_name(paramter):
        statment1
        statment2
        return statment3
    
    - optional - return and paramter

    - function call
        function_name(args)
        
Notes - if the paramter is present then only args should be der

In [3]:
# fucntion to add 2 numbers

def add_numbers():
    num = 10
    num2 = 20
    print(10+20)

In [4]:
add_numbers()

30

In [6]:
add_numbers()

30

In [7]:
add_numbers()

30

In [8]:
# dynamic

def add_numbers(num1,num2):
    print(num1+num2)

In [9]:
add_numbers(5,7)

12

In [11]:
add_numbers(20,80)

100

In [ ]:
# write a fucntion to check if the string is palindrome or not

In [12]:
def palindrome(string):
    if string == string[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

In [13]:
palindrome('level')

palindrome

In [14]:
palindrome('abc')

not a palindrome

In [ ]:
# Types of Args/paramter 

1. Positional args

- the order is important
- number of args should match number of paramters

In [15]:
def emp_data(emp_name,emp_sal,emp_id):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)

In [16]:
emp_data('afsan','50k',777)

afsan
50k
777

In [18]:
emp_data('afsan','50k',777,45)

TypeError: emp_data() takes 3 positional arguments but 4 were given

In [ ]:
emp_data(20,'afsan',777)

In [ ]:
# deafult args

In [19]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc,company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [20]:
emp_data('afsan',90,678,'goa')

afsan
90
678
goa
banglore

In [21]:
emp_data('afsan',90,678,'chennai','chennai')

afsan
90
678
chennai
chennai

In [22]:
# deafult args should be always at last

In [23]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

SyntaxError: non-default argument follows default argument (2285998132.py, line 1)

In [25]:
emp_data('afsan',40,786,'delhi','chennai')

afsan
40
786
delhi
chennai

In [26]:
#3. keyword args

def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [27]:
emp_data('afsan',40,786,company_loc='abc')

afsan
40
786
goa
abc

In [ ]:
emp_data('afsan',40,786,company_loc='abc')

In [31]:
emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

afsan
40
786
goa
abc

In [32]:
# args and kwargs

afsan
40
786
goa
abc

In [33]:
def employee_data(*args):
    print(args)

In [34]:
employee_data('name','abc','xyz')

('name', 'abc', 'xyz')

In [ ]:
args = 'name','abc','xyz'

In [3]:
emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

afsan
40
786
goa
abc

In [2]:
# emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [ ]:
# Return

- it is optional in function
- it not used it will return None by default
- you can return any data type
- you can return a function also

In [ ]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)
    return None
    
print('abc')
print('xyz')
print('ooo')

emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

In [6]:
def sum(num1,num2):
    c = num1 + num2
    return c

In [7]:
data = sum(10,100)

In [8]:
# business login

data - 10

100

In [15]:
def sum(num1,num2):
    c = num1 + num2
    d = num1 * num2
    return c , d

In [16]:
c,d = sum(10,100)
print(type(data), data)

<class 'tuple'> (1, 2, 3, 4, 5)