In [2]:
data = 'abc'

if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')
    
num_1 = 10
num_2 = 20

print(num_1 + num_2)

data = 'level'
if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome
30
palindrome

In [ ]:
# why functions

if we have a certain line of code that has to be used again and again

In [ ]:
# Functions

- it folloes a principal and it is called as DRY(Do not repeat yourself)

2 things

 - function defination - we define the function or we define the task in the function
 - function call - we execute the fucntion

syntax
    - function defination
    
    def function_name(paramter):
        statment1
        statment2
        return statment3
    
    - optional - return and paramter

    - function call
        function_name(args)
        
Notes - if the paramter is present then only args should be der

In [3]:
# fucntion to add 2 numbers

def add_numbers():
    num = 10
    num2 = 20
    print(10+20)

In [4]:
add_numbers()

30

In [6]:
add_numbers()

30

In [7]:
add_numbers()

30

In [8]:
# dynamic

def add_numbers(num1,num2):
    print(num1+num2)

In [9]:
add_numbers(5,7)

12

In [11]:
add_numbers(20,80)

100

In [ ]:
# write a fucntion to check if the string is palindrome or not

In [12]:
def palindrome(string):
    if string == string[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

In [13]:
palindrome('level')

palindrome

In [14]:
palindrome('abc')

not a palindrome

In [ ]:
# Types of Args/paramter 

1. Positional args

- the order is important
- number of args should match number of paramters

In [15]:
def emp_data(emp_name,emp_sal,emp_id):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)

In [16]:
emp_data('afsan','50k',777)

afsan
50k
777

In [18]:
emp_data('afsan','50k',777,45)

TypeError: emp_data() takes 3 positional arguments but 4 were given

In [ ]:
emp_data(20,'afsan',777)

In [ ]:
# deafult args

In [19]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc,company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [20]:
emp_data('afsan',90,678,'goa')

afsan
90
678
goa
banglore

In [21]:
emp_data('afsan',90,678,'chennai','chennai')

afsan
90
678
chennai
chennai

In [22]:
# deafult args should be always at last

In [23]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

SyntaxError: non-default argument follows default argument (2285998132.py, line 1)

In [25]:
emp_data('afsan',40,786,'delhi','chennai')

afsan
40
786
delhi
chennai

In [26]:
#3. keyword args

def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [27]:
emp_data('afsan',40,786,company_loc='abc')

afsan
40
786
goa
abc

In [ ]:
emp_data('afsan',40,786,company_loc='abc')

In [31]:
emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

afsan
40
786
goa
abc

In [32]:
# args and kwargs

afsan
40
786
goa
abc

In [33]:
def employee_data(*args):
    print(args)

In [34]:
employee_data('name','abc','xyz')

('name', 'abc', 'xyz')

In [ ]:
args = 'name','abc','xyz'

In [3]:
emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

afsan
40
786
goa
abc

In [2]:
# emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)

In [ ]:
# Return

- it is optional in function
- it not used it will return None by default
- you can return any data type
- you can return a function also

In [ ]:
def emp_data(emp_name,emp_sal,emp_id,emp_loc='goa',company_loc='banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_id)
    print(emp_loc)
    print(company_loc)
    return None
    
print('abc')
print('xyz')
print('ooo')

emp_data(emp_sal=40,emp_id=786,company_loc='abc',emp_name ='afsan')

In [6]:
def sum(num1,num2):
    c = num1 + num2
    return c

In [7]:
data = sum(10,100)

In [8]:
# business login

data - 10

100

In [15]:
def sum(num1,num2):
    c = num1 + num2
    d = num1 * num2
    return c , d

In [16]:
c,d = sum(10,100)
print(type(data), data)

<class 'tuple'> (1, 2, 3, 4, 5)

In [ ]:
# what is a recursive function, explian with a program

- funciton calling itself is called as recursive function

In [1]:
# factorial 

# 5! --> 5*4*3*2*1 - 120

def fact(num):
    if num==0:
        return 1
    else:
        return num*fact(num-1)

In [4]:
fact(5)

120

In [5]:
# use recurisve funciton for a fibonacci series

120

In [ ]:
# Anonymous fucntion (function without a name) - lambda funtion

- a lambda fucntion is small anonymopus function
- a lambda fucntion can take any number of args, but can only have one expression

syntax

- lambda args: expression

In [6]:
def sum(a,b):
    return a+b

In [7]:
sum(10,20)

30

In [11]:
(lambda a,b : a+b)

SyntaxError: invalid non-printable character U+00A0 (3298077676.py, line 1)

In [15]:
myFunc = lambda x,y: x +y
myFunc(10,20)

30

In [11]:
myFunc = lambda x,y: x + y
myFunc(10,20)

30

In [16]:
myFunc(90,20)

110

In [ ]:
# write a function for odd and even number

# normal function

# lambda also

In [20]:
def odd_even(num):
    if num %2 ==0:
        return "even"
    else:
        return "odd"

In [22]:
odd_even(8)

'even'

In [23]:
x = lambda num:'even' if num%2==0 else 'odd'

In [26]:
x(11)

'odd'

In [ ]:
# local and global variable

- global variable - this vairbale you can use anywhere in the program
- local varibale - this varibale can be used inside a paticular scope only

In [1]:
# global varibale
a = 10
b = 20
c = 70

def abc():
    # local varibale
    c = a + b

abc()
print(a)
print(b)
print(c)

10
20

NameError: name 'c' is not defined

In [29]:
# global varibale
a = 10
b = 20

def abc():
    # local varibale
    global a
    c = a +b
    a = 30
    return c

c = abc()
print(a)
print(b)
print(c)

30
20
30

In [2]:
# global varibale
a = 10
b = 20
c = None

def abc():
    # local varibale
    global c
    c = a + b

abc()
print(a)
print(b)
print(c)

10
20
30

In [ ]:
# map()

the map fucnion takes 2 args

1. a function
2. a seq iterable

synatx - map(funciton , iterable)

In [3]:
temp_c = [8,5,8,3,6,7]

def fah(T):
    return (9/5)*T + 32

In [4]:
temp_f = []
for i in temp_c:
    temp_f.append(fah(i))

In [5]:
temp_f

[46.4, 41.0, 46.4, 37.4, 42.8, 44.6]

In [7]:
list(map(fah,[8,5,8,3,6,7]))

[46.4, 41.0, 46.4, 37.4, 42.8, 44.6]

In [8]:
list(map(lambda T:(9/5)*T + 32,[8,5,8,3,6,7]))

[46.4, 41.0, 46.4, 37.4, 42.8, 44.6]

In [ ]:
temp_c = [8,5,8,3,6,7]

In [11]:
a = [8,5,8,3,6,7]
b = [8,5,8,3,6,7]

list(map(lambda a,b:a*b,a,b))

[64, 25, 64, 9, 36, 49]

In [ ]:
reduce()

the reduce fucnion takes 2 args

1. a function # note rducr function will always take 2 parameters
2. a seq iterable

use case

- sum
- max
- min
- avg

In [13]:
from functools import reduce
data = [8,50,8,3,6,7]

# max
reduce(lambda a,b:a if a>b else b, data )

50

In [14]:
from functools import reduce
data = [8,50,8,3,6,7]

# min
reduce(lambda a,b:a if a<b else b, data )

3

In [17]:
from functools import reduce
data = [8,50,8,3,6,7]

# sum
reduce(lambda a,b:a+b, data )

82

In [ ]:
# filter

this filter needs a fuction as a first and args, the fucntion needs to retrun a bool. the function will be applied to every
element of iterable and only thise data will be included in the final list which return the True bool value

In [20]:
a = [10,5,6,4,2,4,5]

def even(num):
    if num==4:
        return True
    else:
        return False
    

list(filter(even, a))

[4, 4]

In [21]:

list(filter(lambda x: x%2==0, a))

[10, 6, 4, 2, 4]

In [ ]:
map - common action on every element

reduce - sum , min ,max

filter - filter out the elements

In [22]:
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

In [ ]:
1. extract and genrate a list of all the username - 5 - map
2. extract only those username where domain is gmail.com - 5 - filter

In [23]:
list(map(lambda x: x.split('@')[0], lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [27]:
list(filter(lambda x: x.split('@')[1]=='gmail.com', lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [28]:
list(map(lambda x: x.split('@')[0], list(filter(lambda x: x.split('@')[1]=='gmail.com', lst))))

['elum', 'akbar.caakaterasu', 'akarui.kibuno', 'ajhnstn87', 'ahmadjazlan']