In [ ]:
Datatypes

1. fundamental - it is a basic data type

int
float
str
bool
None
complex

2. derived data types - derived from the fundamental data type

list
tuple
set
dict
range

In [ ]:
integer data type

- anything that can be wriiten without a decimal point is called as int data type eg 100,200,300,-999 etc

In [1]:
a = 10
print(a)

10

In [2]:
a = '10'
print(a)

10

In [3]:
# type - type will tell the data type of a varibale/literals

print(type(a))

<class 'str'>

In [5]:
a = 10
print(a)
print(type(10))

10
<class 'int'>

# Types of Operation on Integers

In [ ]:
1. arithmatic operations

- + , - , *, /(float division) , //(floor division), %(modular), **(power)

In [6]:
print(10+20)

30

In [7]:
print(10-20)

-10

In [8]:
print(10*2)

20

In [10]:
print(10/2) # the result will be always in floating point number
print(11/2)

5.0
5.5

In [17]:
print(11//4.0)

2.0

In [23]:
print(11//3)

3

In [19]:
# remainder

print(10%2)
print(11%4)

0
3

In [21]:
print(10**2)
print(2**8)

100
256

In [22]:
print(12//8)

1

In [ ]:
2. Comparison operator - > , < , >= , <=

- it always return the bool value - True/False
- valid operands
    int vs int
    int vs float
    float vs float
    str vs str

In [24]:
a = 10
b = 20

print(a<b)

True

In [25]:
a = 10
b = 20.0

print(a<=b)

True

In [27]:
a = 10+6j
b = 10+7j

print(a >= b)

TypeError: '>=' not supported between instances of 'complex' and 'complex'

In [29]:
a = 'learnbay'
b = 'learo'

print(a>=b)

False

In [31]:
a = '#earnbay'
b = '#123'

print(a>=b)

True

In [ ]:
l = 108
L = 76
# - 35

In [32]:
a = 'learnbay'
b = 'learn'

print(a>=b)

True

In [ ]:
3. Equality op - ==, !=

- returns the bool value true/false
- it can be done with any operands

In [33]:
10+6j == 11

False

In [38]:
'afsan' == 'afsaan'

False

In [37]:
'afsan' == 10

False

In [ ]:
4. ASCII

In [43]:
ord('"')  --> gives the output as a number associated with that char

34

In [44]:
chr(111) --> gives the ascii value assciated with the number

'o'

In [46]:
print('A' <= chr(65))

True

In [47]:
print(100 == ord('g'))

False

In [ ]:
5. logical operators - and, or , not

"""
True --> 1
False --> 0
"""

and

True and True --> True
False and False --> False
False and True --> False
True and False --> False

or

True or True --> True
False or False --> False
False and True --> True
True and False --> True

not

False --> True
True --> False

In [48]:
print(True and True)

True

In [49]:
print(1 and 0)

0

In [50]:
print(not 0)

True

In [ ]:
0 and 200