In [2]:
employee_data = {'emp1':{'name':'afsan' , 'roll no':654, 'email':'abc@gmail.com'},
                  'emp2':{'name':'rahul' , 'roll no':123, 'email':'xyz@gmail.com'}}

In [3]:
# methods to see all the keys in the dict

employee_data.keys()

dict_keys(['emp1', 'emp2'])

In [4]:
# methods to see all the values in the dict

employee_data.values()

dict_values([{'name': 'afsan', 'roll no': 654, 'email': 'abc@gmail.com'}, {'name': 'rahul', 'roll no': 123, 'email': 'xyz@gmail.com'}])

In [5]:
# methods to see all items

employee_data.items()

dict_items([('emp1', {'name': 'afsan', 'roll no': 654, 'email': 'abc@gmail.com'}), ('emp2', {'name': 'rahul', 'roll no': 123, 'email': 'xyz@gmail.com'})])

In [ ]:
[(key,value), (key,value)]

In [ ]:
# fromkeys 

creates a new dict with keys from iterable and value set to value parameter

In [11]:
a = ['Afsan','debdutta','fathima']
data = dict.fromkeys(a,'dummy data')
print(data)

{'Afsan': 'dummy data', 'debdutta': 'dummy data', 'fathima': 'dummy data'}

In [7]:
# clear

employee_data

{'emp1': {'name': 'afsan', 'roll no': 654, 'email': 'abc@gmail.com'},
 'emp2': {'name': 'rahul', 'roll no': 123, 'email': 'xyz@gmail.com'}}

In [8]:
employee_data.clear()

In [10]:
employee_data

{}

In [14]:
# dict comprehension

a = [1,2,3,4,5,6]
{i:i**2 for i in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# range data type

- it is mostly used with for loops

syntax = range(start, stop, index) - used to generate the seq of number in fwd / bwd direction

default

start deafult value will be 0
stop value should be defined by user
step = 1

start in inclusive
stop is exclusive

In [17]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
print(list(range(0,15,3)))

[0, 3, 6, 9, 12]

In [20]:
print(list(range(15,0,-2)))

[15, 13, 11, 9, 7, 5, 3, 1]

In [21]:
print(list(range(0,7)))

[0, 1, 2, 3, 4, 5, 6]

In [22]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
set data type

- collection of value
- not a seq data type
- indexing and slicing is not sup
- collection of unique values
- mutable
- cannot contain a mutable data type

In [23]:
a = {1,2,3,4,5,}
print(a , type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [24]:
a = {1,2,3,4,5,}
print(a[0] , type(a))

TypeError: 'set' object is not subscriptable

In [26]:
a = {1,1,1,2,2,2,3,3,3,10,5,6,3,3,4,4,5,5,6,6}
print(a , type(a))

{1, 2, 3, 4, 5, 6, 10} <class 'set'>

In [28]:
a.clear()

In [33]:
a = {1,2,3,(1,2,3)}

In [35]:
a.clear()

In [36]:
a

set()

In [37]:
a = list({1,2,3,4})
a

[1, 2, 3, 4]

In [38]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# end part 1 of python

part1 - basic of python - datatype
part2 - condtional , loops , break , fucntions , regex , file, exceptional
part3- libraries

In [ ]:
# conditional statment

In [ ]:
# if condition

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
    
if cond is true - 1,2,3,4,5
if cond is False - 1,2,3

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
stat6
stat7

if cond is true - 1,2,3,4,5,6,7
if cond is False - 1,2,3,6,7

In [ ]:
# if and else

In [ ]:
stat1
stat2
stat3
if cond:
    stat4
    stat5
else:
    stat6
    stat7
stat8
stat9

if cond is true - 1,2,3,4,5,8,9
if cond is False - 1,2,3,6,7,8,9

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
if cond2:
    stat6
    stat7
if cond3:
    stat8
    stat9
else:
    stat10
    stat11
stat12
stat13

if cond 1 and 2 is only true -1,2,3,4,5,6,7,10,11,12,13
if all cond are false - 1,2,3,10,11,12,13
if cond 2 and 3 is True - 1,2,3,6,7,8,9,12,13

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
else:
    stat6
    stat7
if cond2:
    stat8
    stat9
if cond3:
    stat10
    stat11
else:
    stat12
    stat13
stat14
stat15

if all cond are false - 1,2,3,6,7,12,12,13,14,15
if all are True - 1,2,3,4,5,8,9,10,11,14,15

In [ ]:
if elif else

In [ ]:
stat1
stat2
stat3
if cond1:
    stat4
    stat5
elif cond2:
    stat8
    stat9
elif cond3:
    stat10
    stat11
else:
    stat12
    stat13
stat14
stat15

if cond 1 and cond 2 is True - 1,2,3,4,5,14,15
if all are true - same as above
if cond 2 is False - same as above
if cond 1 and cond 2 is false - 1,2,3,10,11,14,15
if all are false - 1,2,3,12,13,14,15

In [39]:
a = 33
b = 200
if b>a:
    print('line 4')
print('line 5')

line 4
line 5

In [40]:
a = 100
b = 'afsan'
c = 'a'
d = 200

if 'a' > 'afsan':
    print('line 7')
elif c in b:
    print('line 9')
elif a == 100 and b == 291:
    print('line 11')
else:
    print('line 13')
print('end')

line 9
end

In [ ]:
nested conditonal statment

In [43]:
x = 5

if x > 10:
    print('hey')
    if x>20:
        print('hola')
    else:
        print('bye')
else:
    if x == 5:
        print('hi')
    else:
        print('see you')

print('end')

hi
end

In [ ]:
### Q1. take a user input as a number from 0-4 and print the number in the word format

0 ---> zero

1 ----> one

2 ----> two

other --> invalid input

In [ ]:
### Q2. take three number from the user  and find the max out of those 3 number
"""
5
2
3

max - 5
"""
### Q3. Design a calculator where two numbers will be taken by the user 
        operation code will be entered by the user
            1. add
            2. sub
            3. mul
            
"""
num1 - 10
num2 - 20

op - *

op = 200
"""
### Q4. to find a year entered by user is a leap year or not - research word + coding workd


### Q5. to check whether string is palindrome or not

'''
data = 'maam'
palindrome
'''

In [ ]:
question 1 -5

question 2 - 5

10 mins

In [47]:
a = eval(input('enter a number'))
if (a==0):
    print('zero')
elif (a==1):
    print('one')
elif (a==2):
    print('two')
elif (a==3):
    print('three')
else:
    print('invalid input')

enter a number80
invalid input

In [49]:
data = 'maam'

if data == data[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

palindrome

In [ ]:
give all the even numbers from 1 to 50

In [50]:
for num in range(0,50):
    if num%2==0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [51]:
[i  for i in range(1,51) if i % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [53]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# loops

for loop
while loops

break and continue

functions