In [ ]:
# type casting

- chnaging from one data type to another

In [ ]:
int()
float()
str()
bool()
complex()

In [3]:
# 1 way

a = 10
print(a, float(a))
a

10 10.0

10

In [4]:
# 2 way

a = float(10)
print(a, float(a))
a

10.0 10.0

10.0

In [5]:
a = '100'
int(a)

100

In [6]:
a = 200.567
bool(a)

True

In [7]:
a = True
str(a)

'True'

# input and output function

In [ ]:
input function

- input fiunctions are those func which takes value from the user
- it will return always string

In [9]:
a = 20
b = 40

print(a+b)

60

In [11]:
a = float(input('enter the value'))
b = float(input('enter the value'))

print(a + b)

enter the value10
enter the value11
21.0

In [16]:
a = float(input('enter the value'))
b = float(input('enter the value'))

print(a + b)

enter the valueafsan

ValueError: could not convert string to float: 'afsan'

In [15]:
# eval function

a = eval(input('enter the value'))
b = eval(input('enter the value'))

print(type(a))
print(type(b))

enter the value10+7j
enter the valueTrue
<class 'complex'>
<class 'bool'>

In [ ]:
# ouput function

- print

In [17]:
a = 10
b = 20
c = 30

print(a)
print(b)
print(c)

10
20
30

In [22]:
print('afsan\nkhan')

afsan
khan

In [ ]:
10
20
30

In [18]:
a = 10
b = 20
c = 30

print(a, end='')
print(b, end='')
print(c, end='')

102030

In [23]:
a = 10
b = 20
c = 30

print(a,b,c,sep='-->')

10-->20-->30

In [20]:
a = 10
b = 20
c = 30

print(a,b,c, sep='\n')

10
20
30

In [21]:
a = 200
b = 80
c = 10
d = a + b

print(a+b , d , sep='==' , end='-->')
print(c,d,sep='**')
print(d,c+b,end='\n\n')
print(a,b,c,sep='++',end='--')

280==280-->10**280
280 90

200++80++10--

In [ ]:
280==280-->10**280
280 90

200++80++10--

In [24]:
# write a program which takes first name and second name from the user and print the full name

"""
afsan

khan

output --> afsan is my first and khan is my second name

"""

first_name = input("please enter the first name")
second_name = input ("please enter the second name")
print (first_name, second_name )

please enter the first nameafsan
please enter the second namekhan
afsan khan

In [25]:
firstName=input("Enter first name ")
secondName=input("Enter last name ") 
print("My first name is "+firstName +" and second name is  " + secondName)
print('my first name is',firstName ,'and last name',secondName)

Enter first name afsan
Enter last name khan
My first name is afsan and second name is  khan
my first name is afsan and last name khan

In [28]:
# format string

firstName=input("Enter first name ")
secondName=input("Enter last name ") 
print(f"{firstName}is my first name and {secondName} is my second name {10}")

Enter first name afsan
Enter last name khan
afsanis my first name and khan is my second name 10

In [29]:
firstName=input("Enter first name ")
secondName=input("Enter last name ") 
print("{} is my first name and {} is my second name {}".format(firstName, secondName, 100))

Enter first name afsan
Enter last name khan
afsan is my first name and khan is my second name 100

In [ ]:
# float data type

any value that has a decimal point is called as float data type eg -900.99 , 0.0 , 11.0

In [30]:
a = 100.0
print(a , type(a))

100.0 <class 'float'>

In [ ]:
# operations that are possible in float
- arithmatic op
- comparison
- equality
- logical
- identity op
- compound op except bitwise


# op that are not possible in float
- bitwsie

# object reusabilty - not possible

In [ ]:
# complex data type

- any value that can be represented in the form a+bj where a is the real and b is image

In [31]:
a = 10+6j
print(type(a))

<class 'complex'>

In [32]:
print(a.real)
print(a.imag)

10.0
6.0

In [ ]:
# operations that are possible in float
- arithmatic op except modulo and floor
- equality
- logical
- identity op
- compound op except bitwise


# op that are not possible in float
- bitwsie
- comparison

# object reusabilty - not possible

In [36]:
a = 10+6j
b = 11+7j

a%b

TypeError: can't mod complex numbers.

In [ ]:
# bool data type

True --> 1
False --> 0

In [37]:
a= True
print(type(a))

<class 'bool'>

In [ ]:
# String Data type

anyhting that can be wriiten inside a '..' , ".." , '''..'''

In [38]:
a = 'python'
b = "python"
c = '''pyhton'''

print(a)
print(b)
print(c)

python
python
pyhton

In [39]:
a = 'python's'
print(a)

SyntaxError: invalid syntax (2060961163.py, line 1)

In [40]:
a = "python's"
print(a)

python's

In [42]:
a = 'python"s'
print(a)

python"s

In [44]:
a = '''python
hello
world'''

In [45]:
print(a)

python
hello
world

# Special charac

In [46]:
# \n - new line

print('leanbay\nclasses')

leanbay
classes

In [47]:
# \

a = 'python\'s'
print(a)

python's

In [60]:
a = "python\"s"
print(a)

python"s

In [49]:
print('leanbay\\nclasses')

leanbay\nclasses

In [50]:
# \b - backspcae

print('abc\babc')

abcabc

In [51]:
print('ab' + '\b' + 'c')

abc

In [54]:
# \t - tab

print('afsan\tkhan')

afsan	khan

In [55]:
#r - raw string

print(r'afsan\\tkhan')

afsan\tkhan

In [58]:
print(r'prachi\bpatel\n')

prachi\bpatel\n

In [ ]:
Declare an int value and store it in a variable.
Check the type and print the id of the same.