#Declare a string and store it in a variable. 



#Check the type and print the id of the same.

In [238]:
a = 'Playing Cricket'

print(type(a))
print(id(a))

<class 'str'>
2384603640304

#Which are valid/invalid strings

1. 'This is Python class'
valid/invalid

In [239]:
print('This is Python class')  #Valid

This is Python class

2. "This is Python class"
valid/invalid

In [240]:
 print("This is Python class")  #Valid

This is Python class

3. '''This is Python class'''
valid/invalid

In [241]:
print('''This is Python class''')   #valid

This is Python class

4. """This is Python class"""
valid/invalid

In [242]:
print("""This is Python class""")    # Valid

This is Python class

5. 'This is Python's class'
valid/invalid

In [244]:
print('This is Python's class')   # Invalid

SyntaxError: invalid syntax (3088731399.py, line 1)

6. "Learnbay provides "Java", "Python" classes"
valid/invalid

In [245]:
print("Learnbay provides "Java", "Python" classes")   #Invalid

SyntaxError: invalid syntax (4100190196.py, line 1)

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid

In [246]:
print("Learnbay provides 'Java', 'Python' classes")    #Valid

Learnbay provides 'Java', 'Python' classes

8. "This is Python's class"
valid/invalid

In [247]:
print("This is Python's class")     #Valid

This is Python's class

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid

In [248]:
print("""Learnbay provides "Java", "Python" classes""")    # Valid

Learnbay provides "Java", "Python" classes

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   #

In [249]:
print('''Learnbay provides "Java", "Python" classes''')   # Valid

Learnbay provides "Java", "Python" classes

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid

In [250]:
print('''Learnbay provides
"Java", "Python" 
classes''')           #valid

Learnbay provides
"Java", "Python"
classes

12. 'This is
Python 
class'
valid/invalid

In [251]:
a = 'This is
     Python 
     class'
        
print(a)        # Invalid

SyntaxError: EOL while scanning string literal (1366007279.py, line 1)

#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- The length of my_str is 66

print()
#output:- id of my_str and my_str1 is same? - True

print()
#output:- Type of my_str is: str

In [1]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print('The length of my_str is : ', len(my_str))

The length of my_str is :  66

In [8]:
print(id(my_str))
print(id(my_str1))

print('id of my_str and my_str1 are not same : ' ,id(my_str) is not  id(my_str1))

# No the id of my_str and my_str1 are not same

2697221518256
2697221517360
id of my_str and my_str1 are not same :  True

In [4]:
print('Type of my_str is:' ,type(my_str))

Type of my_str is: <class 'str'>

### Indexing


#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the output,instructions are mentioned below print 
statement. use indexing

In [11]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

print()
#output:- The first character in my_str is: A
#Note:- Use positive indexing

In [12]:
print("The first character of my_str is :",  my_str[0])

The first character of my_str is : A

print()
#output:- The first character in my_str is: h
#Note:- Use len() function.

In [17]:
print("The first character of my_str is :",my_str[len(my_str)-1])

The first character of my_str is : h

print()
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

In [18]:
print('The character at index 10 in my_str is:' , my_str[65])

The character at index 10 in my_str is: c

print()
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

In [19]:
print('The last character in my_str is:' ,my_str[-1])

The last character in my_str is: h

print()
#output:- The last character in my_str is: h
#Note:- Use len() function.

In [20]:
print('The last character in my_str is:' ,my_str[len(my_str)-1])

The last character in my_str is: h

print()
#output:- The character in my_str is: 8
#Note:- Use positive index

In [21]:
print(' The character in my_str is: ' ,my_str[9])

 The character in my_str is:  8

### Slicing



#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print 
statement. use slicing

In [262]:
my_str = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- You have sliced: Although that way may not be obvious at first 
unless you're Dutch.Without begin, end and step

In [263]:
print(my_str[:])

Although that way may not be obvious at first unless you're Dutch.

print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.with begin as 0 end using len and without step

In [264]:
print(my_str[0:len(my_str)])

Although that way may not be obvious at first unless you're Dutch.


print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.without begin and end but using step

In [265]:
print(my_str[::1])

Although that way may not be obvious at first unless you're Dutch.

print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.With begin, end and step

In [266]:
print(my_str[0:67:1])

Although that way may not be obvious at first unless you're Dutch.

print()
#output:- You have sliced:   .with using begin and end using postive values 
and step as negative values.
#Slicing command should print empty string.

In [267]:
print(my_str[8:7:-1])

print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth

In [268]:
print(my_str[::2])

Atog htwymyntb biu tfrtuls o'eDth

print()
#output:- You have sliced: Ahgttam tebo  r lsorDc

In [269]:
print(my_str[::3])

Ahgttam tebo  r lsorDc


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step

In [270]:
print(my_str[::-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.

In [271]:
print(my_str[-1:-67:-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step

In [272]:
print(my_str[::-2])

.cu ruysen si asovoe o a a athuhl

print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.

In [273]:
print(my_str[-1:-67:-2])

.cu ruysen si asovoe o a a athuhl

print(my_str[10:17:-1])
#What will be the output?

In [274]:
print(my_str[10:17:-1])    # Blank, because the step is in opposite direction compared to start and begin

print()
#output:- You have sliced: yaw ta, Using begin, end and step.

my_str = "Although that way may not be obvious at first unless you're Dutch."

In [275]:
print(my_str[17:10:-1])

 yaw ta

print()
#output:- You have sliced: ess you. Using begin, end and step

In [276]:
print(my_str[49:56:1])

ess you

### Basic Operation

#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay


#Error: TypeError: can't multiply sequence by non-int of type 'float'

#Error: TypeError: can't multiply sequence by non-int of type 'str'

#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

In [29]:
str1 = "Learnbay"
str2 = "Python"

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python

In [36]:
print(str1,str2 )

Learnbay Python

#Error: TypeError: can only concatenate str (not "int") to str

In [37]:
print(str1 + 5 )

TypeError: can only concatenate str (not "int") to str

#Error: TypeError: can only concatenate str (not "float") to str

In [38]:
print(str1 + 5.0 )

TypeError: can only concatenate str (not "float") to str

#Find below Output
#Output is: LearnbayLearnbayLearnbay

In [279]:
print('Output is:', str1*3)

Output is: LearnbayLearnbayLearnbay

#Error: TypeError: can't multiply sequence by non-int of type 'float'

In [39]:
print(str1*5.0 )

TypeError: can't multiply sequence by non-int of type 'float'

#Error: TypeError: can't multiply sequence by non-int of type 'str'

In [40]:
print(str1*str2 )

TypeError: can't multiply sequence by non-int of type 'str'

### Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

In [280]:
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2

In [281]:
print(str1 is str2)

id(str1) is id(str2)

True

False

#print False by using identity operator between str1 and str3

In [282]:
print(str1 is str3)

False

#print False by using identity operator between str4 and str3

In [283]:
print(str4 is  str3)

False

#Check if P is available in str1 and print True by using membership operator

In [284]:
print('P' in str1)

True

#Check if $ is available in str3 and print True by using membership operator

In [285]:
print('$' in str3)

True

#Check if N is available in str3 and print False by using membership operator

In [286]:
print('N' in str3)

False


### Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

In [64]:
str1 = 'This is Python class'

str1[8:14] = 'Java'

TypeError: 'str' object does not support item assignment

str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [288]:
str1 = 'A'
str2 = 'A'

In [289]:
print(str1 <= str2)
print(str1 == str2)
print(str1 > str2)
print(str1 != str2)

True
True
False
False

str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [290]:
str1 = 'A'
str2 = 'a'

In [291]:
print(str1 <= str2)
print(str1 != str2)
print(str1 == str2)
print(str1 > str2)

True
True
False
False

str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator

In [292]:
str1 = 'A'
str2 = 65

In [293]:
print(str1 >= str2)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [294]:
str1 = 'A'
str2 = 65

print(str1 != str2)

True

In [295]:
str1 = 'A'
str2 = 65

print(str1 == str2)

False

str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator

#Compare str1 and str2 and print False using comparison operator

In [296]:
str1 = 'Python'
str2 = 'Python'

In [236]:
print(str1 >= str2)
print(str1 == str2)
print(str1 != str2)
print(str1 < str2)

True
True
False
False

str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [192]:
str1 = 'Python'
str2 = 'python'

In [197]:
print(str1 < str2)
print(str1 != str2)
print(str1 == str2)
print(str1 > str2)

True
True
False
False


a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()
print()
print()

In [217]:

a = 'Python'
b = ''

In [220]:
print(a and b)
print(a or b)
print(not a )
print(not b)

Python
False
True

a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()

In [211]:
a = ''
b = ''

In [215]:
print(a and b)
print(a or b)
print(not a)
print(not b)

True
True


a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()

In [298]:
a = 'Python' 
b = 'learnbay'

In [299]:
print(a and b)
print(a or b)
print(not a)
print(not b)

learnbay
Python
False
False

my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print()
print()

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print()
print()

#What will be the output of below code?
print(my_str.find('the'))


print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

In [309]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print()
print()

In [334]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
len(my_str)

67

In [333]:
print(my_str.find('t'))

2

#Write the code to get the index of '8' in my_str. Use find() and index() method. print() print()

In [311]:
print(my_str.index('8'))

print(my_str.find('8'))

9
9

In [313]:
print(my_str.find('the'))

-1

In [314]:
print(my_str.index('the'))

ValueError: substring not found

In [315]:
print(my_str.find('t', 9, 15))

11

In [316]:
print(my_str.rfind('u'))

63

In [317]:
print(my_str.rindex('u'))

63

In [319]:
print(my_str.find('t'))

2

### Strip


#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

In [ ]:
#input:- '    Python   '
#output:- 'Python'

In [335]:
a = '    Python   '
a.strip(' ')

'Python'

In [ ]:
#input:- '    Python'
#output:- 'Python'

In [340]:
a = '    Python'
a.lstrip(' ')

'Python'

In [ ]:
#input:- 'Python   '
#output:- 'Python'

In [341]:
a =  'Python   '
a.rstrip(' ')

'Python'


my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print()

#Write the code to convert all alphabets in my_str into lower case.
print()

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print()

In [342]:

my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

In [346]:
print(my_str.upper())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH

In [347]:
print(my_str.lower())

although 8 that way may not be obvious at first unless you're dutch

In [348]:
print(my_str.swapcase())

aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

#What will be output of below code?

In [351]:
s = chr(65) + chr(97)
print(s.isprintable())

True

In [352]:
s = chr(27) + chr(97)
print(s.isprintable())

False

In [356]:
s = '\n'
print(s.isprintable())

False

In [358]:
s = ''
print(s.isprintable())

True

In [359]:
my_string = '  '
print(my_string.isascii())

True

In [360]:
my_string = 'Studytonight'
print(my_string.isascii())

True

In [361]:
my_string = 'Study tonight'
print(my_string.isascii())

True

In [362]:
my_string = 'Studytonight@123'
print(my_string.isascii())

True

In [363]:
my_string = '°'
print(my_string.isascii())

False

In [364]:

my_string = 'ö'
print(my_string.isascii())

False

In [365]:
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

#Write the code to get below output
#O/P 1:- python** (using ljust method)

In [2]:
a = 'python'
x = a.ljust(0)
print(x,'**',sep='')

python**

#Write the code to get below output
#O/P 1:- **python (using rjust method)

In [3]:
a = 'python'
x = a.rjust(0)
print('**', x,sep='')

**python

#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [4]:
a = 'python'
x = a.rjust(0)
print('**', x,'**',sep='')

**python**

#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'


#Output:- 55

In [384]:
a = 'Write a Python program to find the length of the my_str'
print(len(a))

55

#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'

#Output:- 9

In [387]:
a = 'peter piper picked a peck of pickled peppers.'

print(a.count('p'))

9

#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'

#Output:- 

 0
 6
 8
 12
 21
 29
 37
 39
 40

In [63]:
import re

a = 'peter piper picked a peck of pickled peppers.'
char = 'p'
b =[p.start() for p in re.finditer(char,a)]
print(b)

[0, 6, 8, 12, 21, 29, 37, 39, 40]

#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'


#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [396]:
a = 'peter piper picked a peck of pickled peppers.'

print(list(a.split(' ')))

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

In [5]:
a1 = 'abc'
a2 = 'abc1'
a3 = 'ab1c'
a4 = '1abc'
a5 = 'abc$'
a6 = '_abc'
a7 = 'if'

In [8]:
print(a1.isidentifier())
print(a2.isidentifier())
print(a3.isidentifier())
print(a4.isidentifier())
print(a5.isidentifier())
print(a6.isidentifier())
print(a7.isidentifier())

True
True
True
False
False
True
True


#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

In [38]:
a = 'peter piper picked a peck of pickled peppers.'
b = a.split()

print(b[::-1])

['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']
['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

In [20]:
a = 'peter piper picked a peck of pickled peppers.'

print(a[::-1])

.sreppep delkcip fo kcep a dekcip repip retep

#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

In [37]:
a = 'peter piper picked a peck of pickled peppers.'
b = a.split()

print(b[0][::-1],b[1][::-1],b[2][::-1],b[3][::-1],b[4][::-1],b[5][::-1],b[6][::-1],b[7][::-1])

retep repip dekcip a kcep fo delkcip .sreppep

#Input:- 'peter piper picked a peck of pickled peppers.'

#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

In [39]:
a = 'peter piper picked a peck of pickled peppers.'

print(a.title())

Peter Piper Picked A Peck Of Pickled Peppers.

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

#Output:- 'Peter piper picked a peck of pickled peppers.'

In [40]:
a = 'peter piper picked a peck of pickled peppers.'

print(a.capitalize())

Peter piper picked a peck of pickled peppers.

#Take a string from user and check if it is:-

    1. alphanumeric

    2. alphabets

    3. digit

    4. all letters are in lower case

     5. all letters are in upper case

     6. in title case

     7. a space character

     8. numeric

     9. all number elements in string are decimal

In [97]:
a = 'z132abcd'

print(a.isalnum())

True

In [98]:
print(a.isalpha())

False

In [99]:
print(a.isnumeric())

False

In [100]:
print(a.islower())

True

In [101]:
print(a.isupper())

False

In [102]:
print(a.isdecimal())

False

In [103]:
print(a.isdigit())

False

In [104]:
print(a.isspace())

False

In [95]:
print(a.istitle())

False


#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

In [94]:
a = 'paddle to the metal'

print(a.capitalize())
print(a.title())

Paddle to the metal
Paddle To The Metal

#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 

#Output:- '*********************Peck********************'

In [75]:
a = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'

print(a,sub_str.rjust(20))

Peter Piper Picked A Peck Of Pickled Peppers.                 Peck

In [ ]:


#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29



#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'



#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'