Q1. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [1]:
a = 12.36

print(type(a))
print(id(a))

<class 'float'>
2728087712944

Q2. Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-

Find sum of both numbers

In [13]:
a = 15.66
b = 43.67

print(a+b)

59.33

 Find difference between them

In [15]:
b = 15.66
a = 43.67

print(a-b)

28.01

 Find the product of both numbers.

In [19]:
a = 15.66
b = 3.32

print(a*b)

51.9912

 Find value after dividing first num with second number

In [20]:
a = 15.66
b = 3.32

print(a/b)

4.716867469879518

 Find the remainder after dividing first number with second number

In [29]:
a = 15.66
b = 3.76

print(a%b)

0.620000000000001

 Find the quotient after dividing first number with second number

In [30]:
a = 15.66
b = 3.76

print(a//b)

4.0

 Find the result of the first num to the power of the second number.

In [33]:
a = 15.66
b = 1.96

print(a**b)

219.68067035084047

Q3. Comparison Operators on float
Take two different float values.
Store them in two different variables.


Do below operations on them:-
 
 
 
Observe their output(return type should be boolean)

Greater than, '>'

In [34]:
a = 10.21
b = 15.32

print(a > b)

False

 Smaller than, '<'

In [35]:
a = 10.21
b = 15.32

print(a < b)

True

 Greater than or equal to, '>='

In [40]:
a = 10.21
b = 10.27

print(a >= b)

False

Less than or equal to, '<='

In [39]:
a = 10.21
b = 15.56

print(a <= b)

True

Q4. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [42]:
a = 10.21
b = 10.21

print(a == b)
print(a != b)

True
False

Q5. Logical operators
Observe the output of below code
Cross check the output manually
print(10.20 and 20.30) #both are true and second value taken
>Output is 20.3
print(0.0 and 20.30) #First is false so first value
taken->Output is 0.0
print(20.30 and 0.0) #Goes to till second and second value is
false so second is taken>Output is 0.0
print(0.0 and 0.0) #First is false so first value is
taken->Output is 0.0
print(10.20 or 20.30) #First is True so first value is
taken>Output is 10.2
print(0.0 or 20.30) #Goes to till second and second is true
second value is taken->Output is 20.3
print(20.30 or 0.0) #First is True so first value is
taken->Output is 20.3
print(0.0 or 0.0) #Goes to till second and second is also
false and second value is taken>Output is 0.0
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

In [43]:
print(10.20 and 20.30)

20.3

In [44]:
print(0.0 and 20.30)

0.0

In [45]:
print(20.30 and 0.0)

0.0

In [49]:
print(0.0 and 0.0)

0.0

In [50]:
print(10.20 or 20.30)

10.2

In [51]:
print(0.0 or 20.30)

20.3

In [52]:
print(20.30 or 0.0)

20.3

In [63]:
print(0.0 or 0.0)

0.0

In [64]:
print(not 10.20)

False

In [65]:
print(not 0.0)

True

Q6. What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b = 10.20
print(a is b) #True or False? True 10.20<256
print(a is not b) #True or False? False
Why the Id of float values are different when the same value is
assigned to two different variables

In [70]:
a = 10.20
b = 10.20
print(a is b)
print(a is not b) 

# Because Object Reusability in not applicable with Float Variables

False
True

Q7. Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

In [3]:
a = 10.5 
b = 10.5

c = a

print(id(a))
print(id(b))
print(id(c))

# Here id of a=c because here we are aliasing the value of a into c , so c is not creating any new value

2015230448336
2015230448208
2015230448336

Q8. Membership operation
in, not in are two membership operators and it returns boolean value
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

In [71]:
print('2.7' in 'Python2.7.8')

True

In [72]:
print(10.20 in [10,10.20,10+20j,'Python'])

True

In [73]:
print(10.20 in (10,10.20,10+20j,'Python'))

True

In [74]:
print(20.30 in {1,20.30,30+40j})

True

In [75]:
print(2.3 in {1:100, 2.3:200, 30+40j:300})

True

In [76]:
print(10 in range(20))

True